.memo-div {
  padding: 5px;
  background: #eaea;
  border: 1px solid #caca;
}

.memo-div span.label {
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.memo-div span.label:after {
  content: " :";
}

.memo-div span.value {
  text-transform: capitalize;
}
